.chat__messages {
    padding-top: 10px;

    li {
        margin-bottom: 30px;
        margin-left: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        a {
            background-color: #182533;
            text-decoration: none;
            border-radius: 10px;
            font-size: 24px;
            padding: 10px;
            color: #f5f5f5;
        }
    }

    li:first-child {
        margin-top: 30px;
    }

    span {
        margin-left: 10px;
        font-size: 30px;
        color: red;
        cursor: pointer;
        padding: 2px;
        width: 30px;
        text-align: center;
        background-color: rgb(6, 6, 63);
        color: yellow;
        border: none;
        border-radius: 10px;
        transition: .2s ease-in-out;
    }

    span:hover {
        background-color: rgb(19, 19, 148);
    }
}